<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kuelye.demo.collagerator" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name"
        android:theme="@style/theme_standard" >

        <activity
            android:name=".gui.UserSelectionActivity"
            android:label="@string/user_selection_activity_title" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".gui.PhotoSelectionActivity"
            android:label="@string/photo_selection_activity_title" >
        </activity>

        <activity
            android:name=".gui.SendCollageActivity"
            android:label="@string/send_collage_activity_title" >
        </activity>
    </application>
</manifest>
